
@model PieListViewModel
    <h2>@Model.CurrentCategory</h2>
    <div class="container">
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>button</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var pie in Model.pies)
                {
                    <tr>
                        <td>@pie.Name</td>
                        <td>@pie.Description</td>
                        <td>@pie.Price</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-PieId="@pie.PieId">Add To Cart</a>
                            <a class="btn btn-primary" asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId">View</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
